.textCell {
	FONT-SIZE: 12px;
	BACKGROUND: #ffffff;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: left;
	HEIGHT:20;
}

.textCellbk {
	FONT-SIZE: 12px;
	BACKGROUND: #F8F8F8;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: left;
	HEIGHT:20;
}

.textCellC {
	FONT-SIZE: 10pt;
	BACKGROUND: #ffffff;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: center
}
.noteCell {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: left
}
.titleCell {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	VERTICAL-ALIGN: middle;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, sans-serif;
	HEIGHT: 24px;
	BACKGROUND-COLOR: #F0F0F0;
	TEXT-ALIGN: left
}
.titleCellLink {
	FONT-SIZE: 12px;
	VERTICAL-ALIGN:bottom;
	COLOR: #3333cc;
	FONT-FAMILY: verdana, arial, sans-serif;
	HEIGHT: 24px;
	BACKGROUND-COLOR: #F0F0F0;
	TEXT-ALIGN: left
}
.titleCellC {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	VERTICAL-ALIGN: middle;
	COLOR: #000000;
	FONT-FAMILY: verdana, arial, sans-serif;
	HEIGHT: 24px;
	BACKGROUND-COLOR: #F0F0F0;
	TEXT-ALIGN: center
}
.smalltabletitle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #9ea2a5;
	TEXT-ALIGN: center
}
.smalltable {
	FONT-WEIGHT: 400;
	FONT-SIZE: 8pt;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #eeeeee;
	TEXT-ALIGN: center
}
.subtitle {
	FONT-WEIGHT: 900;
	FONT-SIZE: 17pt;
	COLOR: #aaa0e0;
	FONT-FAMILY: Verdana, Arial, sans-serif;
	TEXT-ALIGN: left
}
.copyright {
	FONT-SIZE: 9pt;
	COLOR: black;
	FONT-STYLE: italic;
	FONT-FAMILY: Verdana, Arial, sans-serif;
	TEXT-ALIGN: left
}
.button {
	FONT-WEIGHT: 400;
	FONT-SIZE: 9pt;
	TEXT-TRANSFORM: uppercase;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial
}
.smallbutton {
	FONT-WEIGHT: 400;
	FONT-SIZE: 8pt;
	WIDTH: 50px;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial
}
.actButton {
	FONT-WEIGHT: 400;
	FONT-SIZE: 9pt;
	TEXT-TRANSFORM: uppercase;
	WIDTH: 64px;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial;
	HEIGHT: 25px
}
.actButton1 {
	FONT-WEIGHT: 400;
	FONT-SIZE: 9pt;
	TEXT-TRANSFORM: uppercase;
	WIDTH: 64px;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial;
	HEIGHT: 23px
}
.actButton2 {
	FONT-WEIGHT: 400;
	FONT-SIZE: 9pt;
	TEXT-TRANSFORM: uppercase;
	WIDTH: 100px;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial;
	HEIGHT: 23px
}
.nextButton {
	FONT-WEIGHT: 400;
	FONT-SIZE: 9pt;
	TEXT-TRANSFORM: uppercase;
	WIDTH: 125px;
	COLOR: #003399;
	FONT-FAMILY: Verdana, Arial;
	HEIGHT: 25px
}
A.unselect {
FONT-WEIGHT: bold;
FONT-SIZE: 10pt;
COLOR:#000000;
FONT-FAMILY: Verdana, Arial;
TEXT-DECORATION: none
}
A.select {
FONT-WEIGHT: bold;
FONT-SIZE: 10pt;
COLOR:#F2F51E;
FONT-FAMILY: Verdana, Arial;
TEXT-DECORATION: none
}


.navigator {
	PADDING-LEFT: 25px;
	PADDING-RIGHT: 10px;
	BACKGROUND-COLOR: #B4E3DB;
	TEXT-ALIGN: left;
	HEIGHT: 25px
}
.navigatorActive {
	PADDING-LEFT: 25px;
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #60D0BC;
	TEXT-ALIGN: left;
	HEIGHT: 25px
}
.navigatorNormal {
	BACKGROUND-COLOR: #A4C5E1;
	HEIGHT: 25px;
}

.menuActive {
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;
	COLOR:#ffffff;
	BACKGROUND-COLOR: #65a6f8;
/*	BORDER-BOTTOM:#ffffff 1px solid;*/
	TEXT-ALIGN: left;
	HEIGHT: 26px
}
.menuNormal {
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;
	COLOR:#ffffff;
	BACKGROUND-COLOR: #65a6f8;
	BORDER-BOTTOM:#ffffff 1px solid;
	TEXT-ALIGN: left;
	HEIGHT: 26px
}
.menuActiveNo {
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;
	COLOR:#ffffff;
	BACKGROUND-COLOR: #65a6f8;
	TEXT-ALIGN: left;
	HEIGHT: 26px
}
.menuNormalNo {
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;
	COLOR:#ffffff;
	BACKGROUND-COLOR: #65a6f8;
	TEXT-ALIGN: left;
	HEIGHT: 26px
}

A.unselectmenu {
FONT-WEIGHT: bold;
FONT-SIZE: 10pt;
COLOR:#000000;
FONT-FAMILY: Verdana, Arial;
TEXT-DECORATION: none
}
A.selectmenu {
FONT-WEIGHT: bold;
FONT-SIZE: 10pt;
COLOR:#F2F51E;
FONT-FAMILY: Verdana, Arial;
TEXT-DECORATION: none
}
